__pycache__/
*.py[cod]
*.egg-info/
.coverage
.pytest_cache/
.ruff_cache/
.tox/

.DS_Store
.idea/
.vscode/

.ipynb_checkpoints/
.jupyter_cache/
jupyter_execute/
docs/_build/

build/
dist/
site/

.env
.venv/
venv/
