include LICENSE
include README.md
include CHANGELOG.md
include CITATION.cff
include THIRD_PARTY_NOTICES.md
include Makefile
include RELEASING.md
include tox.ini
include .python-versions
recursive-include docs *.md *.py *.css *.png
recursive-include docs *.bib *.txt *.ttf
recursive-include docs *.npz
recursive-include tests *.py
